<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="/css/tw.css" />
    <title>Bookshelf</title>
  </head>

  <body>
    <header>
      <h1 class="main-title"><a href="/">Bookshelf</a></h1>
      <nav>
        <ul>
          {{! TODO: Will change the name of hrefs once homeRoutes defined }}
          <li><a href="/bookshelf">My Bookshelf</a></li>
          <li><a href="/findbooks">Search Library</a></li>
          <li>
            {{#if logged_in}}
              <a id="logoutButton" href="/login">Logout</a>
            {{else}}
              <a id="loginButton" href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </nav>

      {{#if logged_in}}
        <h3>Logged In!!!</h3>
      {{/if}}
    </header>

    <main>
      {{{body}}}
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; {{currentYear}} Bookshelf App by Jonathan Acciarito, Michael Levey, Jessica Scheck, Colin Rent, and Blaze Harmon. All rights reserved.</p>
      <!-- Add more footer content as needed -->
    </footer>

    <script src="/js/helpfulFunctions.js"></script>

    {{#if logged_in}}
      <script src="/js/logoutHandle.js"></script>
    {{else}}
      <script src="/js/loginHandle.js"></script>
    {{/if}}

  </body>

</html>