<div>
    <h2>Book Search</h2>
    <form>
        <p>Search By:</p>
        <input type="radio" id="title" name="searchBy" value="title">
        <label for="title">Title</label><br>
        <input type="radio" id="author" name="searchBy" value="author">
        <label for="title">Author</label><br>
        <input type="text" id="input">

        <input type="submit" id="submit">
    </form>
</div>

<script src="/js/findBook.js"></script>