{{!-- ! This file's GOOD to go, add classes and style them in CSS --}}
<h3>Login:</h3>
<form class="login-form">
  <label for="username">Username:</label>
  <input type="text" id="usernameInput" name="username" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" required />

  <label for="password">Password:</label>
  <input type="password" id="passwordInput" name="password" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" required />

  <br />

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-1/3">Login</button>
</form>

<h3>User Registration:</h3>

<form id="register-form">

  <label for="email">Email:</label>
  <input type="email" id="registerEmail" name="email" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" required />

  <br />

  <label for="username">Username:</label>
  <input type="text" id="registerUsername" name="username" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" required />

  <br />

  <label for="password">Password:</label>
  <input type="password" id="registerPassword" name="password" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" required />

  <br />

  <!-- Confirm Password -->
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5" required />

  <br />

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-1/3">Register</button>
</form>
{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}

{{! loginHandle.js is already linked in main.handlebars conditionally }}
<script src="/js/loginpageFunctions/registerUser.js"></script>