/* This assumes you have Tailwind CSS properly set up in your project */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Background colors */
.bg-primary {
    background-color: #3d5852;
}

.bg-secondary {
    background-color: #86938f;
}

.bg-tertiary {
    background-color: #5e877f;
}

.bg-quatrinary {
    background-color: #6c6b67;
}

.bg-light {
    background-color: #e3e4e3;
}

.bg-dark {
    background-color: #182c23;
}

.bg-error {
    background-color: rgb(228, 46, 1);
}

/* Border radius */
.rounded {
    border-radius: 0.3rem;
}

/* Text and background colors */
.text-background {
    color: #ceb9a9;
}

.text-primary {
    color: #3d5852;
}

/* Bookshelf container */
.bookshelf-container {
    @apply flex flex-wrap;
}

/* Book card */
.book-card {
    @apply w-48 h-72 m-4;
}

/* Book cover image */
.book-cover {
    @apply w-full h-full object-cover rounded-lg;
}

/* Seed card */
.seed-card {
    @apply border-solid border border-black;
}

/* Header, footer, navbar, and links */
header {
    @apply flex justify-between items-center bg-background p-4;
}

footer {
    @apply bg-background p-4;
}

.main-title {
    @apply ml-5;
}

ul {
    @apply list-none pt-4;
}

li {
    @apply inline p-4;
}

a {
    @apply text-text no-underline;
}

a:hover {
    @apply no-underline;
}